<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={{or .Params.subtitle .Site.Params.description }}>
    <meta http-equiv="Content-Language" content="de,en">
    <link rel="stylesheet" href="/styles/style.css">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>
    <div class="container">
        {{ partial "navbar" . }}
        <a href="/">
            <div class="logo">
                <canvas id="logoCanvas"></canvas>
                <div class="logoText">PRACHT</div>
            </div>
        </a>
        {{ block "main" . }} {{ end }}
        {{ partial "footer" . }}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="/js/logo-shader.js"></script>
</body>
</html>