{{ define "main" }}
<div class="articleList">
    {{ range .Paginator.Pages }}
        <div class="articleHeadList">
            <a href={{.Permalink}} class="articleLink">
                <div class="articleHeadContainer">
                    <div class="articleTitleBox">
                        <h2 class="articleTitle">
                            {{ .Title }}
                        </h2>
                    </div>
                    <div class="articleSubtitleBox">
                        <h3 class="articleSubtitle">
                            {{ .Params.Subtitle }}
                        </h3>
                    </div>
                </div>
            </a>
        </div>
    {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}