{{ define "main" }}
<div class="single">
    <div class="listItemContainer">
        <div id="stripes">
        </div>
        <div class="topbar">
            <div class="no">
                Beitrag {{ .Params.No }}
            </div>
            <div class="neo">
                [{{ .Params.Edition }}]
            </div>
            <div class="length">
                {{ .Content | countwords }} Wörter
            </div>
        </div>
        <div class="listItemTitleBox">
            <h1 class="listItemTitle">
                {{ .Title }}
            </h1>
        </div>
        <div class="listItemSubtitleBox">
            <h3 class="listItemSubtitle">
                {{ .Params.Subtitle }}
            </h3>
        </div>
        <div class="content">
            <div class="article">{{.Content}}</div>
            <div class="contentFooter">
                <time class="time">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
                <h3 class="author">— NB</h3>
            </div>
        </div>
        <div class="slug">
            {{ .Slug }}
        </div>
    </div>
</div>
{{ end }}