{{ define "main" }}
<div class="single">
    <div class="contentContainer">
        <div id="stripes">
        </div>
        <div class="informationBar">
            <div class="articleNumber">
                Beitrag {{ .Params.Number }}
            </div>
            <div class="edition">
                {{ .Params.Edition }}
            </div>
            <div class="wordCount">
                {{ .Content | countwords }} Wörter
            </div>
        </div>
        <div class="categoryList">
            Themen
            {{ range (.GetTerms "categories") }}
                <div class="categoryItem">
                    [<a class="categoryItemLink" href={{ .Permalink }}>{{ .Name }}</a>]
                </div>
            {{ end }}
        </div>
        <div class="articleHead">
            <div class="articleHeadContainer">
                <div class="articleTitleBox">
                    <h2 class="articleTitle">
                        {{ .Title }}
                    </h2>
                </div>
                <div class="articleSubtitleBox">
                    <h3 class="articleSubtitle">
                        {{ .Params.Subtitle }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="articleImageBox">
            <img class="articleImage" src={{.Params.image}} loading="lazy" alt={{.Params.alt}}>
        </div>
        <div class="articleContent">{{.Content}}</div>
        <div class="informationBar">
            <time class="time">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            <div class="id">
                #{{ .Slug }}
            </div>
            <h3 class="author">— NB</h3>
        </div>
    </div>
</div>
{{ end }}