{{ define "main" }}
<div class="single">
  <div class="contentContainer">
    <div id="stripes">
    </div>
    <div class="informationBar">
      <div class="articleNumber">
        Beitrag {{ .Params.Number }}
      </div>
      <div class="edition">
        {{ .Params.Edition }}
      </div>
      <div class="wordCount">
        {{ .Content | countwords }} Wörter
      </div>
    </div>
    <div class="articleImageBox">
      {{ $imagePath := printf "images/%s.webp" .Params.slug }}
      {{ $original := .Page.Resources.GetMatch $imagePath }}
      {{ if $original }}
        {{ $placeholder := $original.Resize "64x64 q20 blur" }}
        <div class="image-wrapper" style="background-image: url('{{ $placeholder.RelPermalink }}'); background-size: cover; background-position: center;">
          <img class="articleImage" src="{{ $original.RelPermalink }}" loading="lazy" alt="" onload="this.style.opacity=1">
        </div>
      {{ else }}
        <div class="image-wrapper" style="background-color: #BBBBBB;">
          <img class="articleImage" src="/images/{{.Params.slug}}.webp" loading="lazy" alt="" onload="this.style.opacity=1">
        </div>
      {{ end }}
    </div>
    <div class="articleHead">
      <div class="articleHeadContainer">
        <div class="articleTitleBox">
          <h2 class="articleTitle">
            {{ .Title }}
          </h2>
        </div>
        <div class="articleSubtitleBox">
          <h3 class="articleSubtitle">
            {{ .Params.Subtitle }}
          </h3>
        </div>
      </div>
    </div>
    <div class="articleContent">{{.Content}}</div>
    <div class="informationBarBottom">
      <time class="time">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
      <div class="id">
        #{{ .Slug }}
      </div>
      <h3 class="author">— NB</h3>
    </div>
    <div class="categoryList">
      {{ range (.GetTerms "categories") }}
      <div class="categoryItem">
        [<a class="categoryItemLink" href={{ .Permalink }}>{{ .Name }}</a>]
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}