<nav class="navbar">
    <div class="navbarBox">
        <div class="link">
            <a href="/" class="linkText">[home]</a>
        </div>
        <div class="link">
            <a href="/categories" class="linkText">[themen]</a>
        </div>
        <div class="toggle">
            <div class="toggleText">
                [lght/drk]
            </div>
        </div>
    </div>
    <a class="logoLink" href="/">
        <div class="logo">
            <h1>PRACHT</h1>
        </div>
    </a>
</nav>