<nav class="navbar">
    <div class="navbarBox">
        <div class="link">
            <a href="/" class="linkText">[home]</a>
        </div>
        <div class="link">
            <a href="/categories" class="linkText">[themen]</a>
        </div>
        {{/*  <div class="toggle">
            <div class="toggleText">
                [lght/drk]
            </div>
        </div>  */}}
    </div>
    {{/*  <div class="logo">
        <h1>PRACHT</h1>
    </div>  */}}
    <a href="/">
        <div class="logo">
            <canvas id="logoCanvas"></canvas>
            <div class="logoText">PRACHT</div>
        </div>
    </a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="/js/logo-shader.js"></script>
</nav>