@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+HR:wght@100..400&display=swap');

:root{
    --bg: #FAF8F2;
    --bgs: #D4D1C9;
    --txt: #000000;
    --sb: #333333;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Mono", monospace;
    font-size: 15px;
    letter-spacing: -0.5px;
    word-spacing: -1.25px;
    line-height: 115%;
}

body{
    background: var(--bg);
    color: var(--txt);
}

.container{
    max-width: 80ch;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
}

.navbar{
    padding: 2px;
    background: var(--bgs);
    margin-bottom: 25px;
}

.footer{
    padding: 2px;
    background: var(--bgs);
    margin-top: 25px;
}

.listItemTitleBox{
    border-bottom: solid 1px var(--sb);
    padding-bottom: 1px;
    margin-bottom: 10px;
}

h1{
    font-weight: 700;
}

h3{
    font-weight: 500;
    color: var(--sb);
}

.listItemLink{
    text-decoration: none;
    color: var(--txt);
}

.listItem{
    margin-bottom: 20px;
}

.content{
    margin-top: 25px;
}

.article{
    white-space: pre-wrap;
    text-align: justify;
}

p{
    font-size: 14px;
    font-weight: 400;
}

.contentFooter{
    display: flex;
    justify-content: space-between;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}