@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    --b: #FEFEFA;
    --s: #DEDCDA;
    --t: #000000;
    --d: #777777;
    --n: #CC00AA;
}

*{
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    font-size: 19px;
    background: var(--b);
    color: var(--t);
    font-family: "Fira Mono", monospace;
    letter-spacing: -0.75px;
    word-spacing: -4px;
    line-height: 115%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body.dark{
    --b: #111111;
    --s: #444444;
    --t: #FEFCFA;
    --d: #DEDCDA;
    --n: #CC00AA;
}

h2{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 3.5px;
}

h3{
    font-weight: 400;
    font-size: 17px;
    color: var(--d);
}

p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: -1px;
    word-spacing: -3px;
    line-height: 125%;
}

a{
    text-decoration: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    color: var(--n);
}

.container{
    max-width: 70ch;
    padding: 20px;
    margin: auto;
}

.navbar{
    margin-bottom: 25px;
    display: block;
}

.navbarBox{
    display: flex;
    gap: 10px;
    padding: 2px;
    background: var(--s);
}

.footer{
    display: flex;
    padding: 2px;
    background: var(--s);
    gap: 10px;
    margin-top: 25px;
}

.linkText{
    font-size: 17px;
    color: var(--n);
}

.articleHead {
    position: relative;
    margin-bottom: 20px;
    margin-top: 17.5px;
    padding-bottom: 2.5px;
    border-bottom: 1px solid var(--s);
}

.articleHeadList:not(:last-child){
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--s);
}

.articleLink{
    color: var(--t);
}

@keyframes moveStripes {
    0% {
      background-position: 25px 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  div#stripes {
    height: 8px;
    background-image: linear-gradient(135deg, var(--s) 25%, transparent 25%, transparent 50%, var(--s) 50%, var(--s) 75%, transparent 75%, #fff);
    background-size: 25px 25px;
    animation: moveStripes 4s linear infinite;
  }
  

.informationBar{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.articleNumber{
    color: var(--t);
    flex-grow: 1;
    flex-basis: 0;
}

.edition{
    color: var(--n);

}

.categoryList{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    font-size: 15px;
    line-height: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.categoryItem{
    background: var(--s);
    color: var(--t);
    padding-left: 10px;
    padding-right: 10px;
}
.categoryItem:hover{
    background: var(--n);
    color: var(--b);
}

.categoryItemLink{
    color: inherit;
}

.pagination{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 2px;
    font-size: 15px;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.page-link{
    color: inherit;
}

.page-item{
    color: var(--d);
    text-decoration: none;
}

.page-item.active{
    color: var(--n);
    text-decoration: none;
}

.page-item.disabled{
    color: var(--s);
    cursor: not-allowed;
}

.wordCount{
    color: var(--t);
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.articleContent{
    display: inline-block;
    white-space: wrap;
    text-align: justify;
    font-size: 16px;
}

.author{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 15px;
    word-spacing: 0px;
    letter-spacing: -1px;
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.time{
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
}

.id{
    margin-top: auto;
    font-size: 11px;
}

.articleImage{
    width: 100%;
}

.logo {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: none;
}

#logoCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logoText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    font-optical-sizing: auto;
    text-align: center;
    line-height: 110%;
    color: var(--b);
    z-index: 1;
}