@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --b: #FEFCFA;
    --s: #DEDCDA;
    --t: #000000;
    --d: #444444;
    --n: #CC00AA;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 19px;
    background: var(--b);
    color: var(--t);
    font-family: "Fira Mono", monospace;
    letter-spacing: -0.5px;
    word-spacing: -1.25px;
    line-height: 130%;
}

body.dark{
    --b: #111111;
    --s: #444444;
    --t: #FEFCFA;
    --d: #DEDCDA;
    --n: #CC00AA;
}

h2{
    font-weight: 700;
    font-size: 20px;
}

h3{
    font-weight: 400;
    font-size: 18px;
    color: var(--d);
}

p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
    word-spacing: -1.25px;
    line-height: 130%;
}

a{
    text-decoration: none;
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 17px;
    color: var(--n);
}

.container{
    max-width: 70ch;
    padding: 20px;
    margin: auto;
}

.navbar{
    margin-bottom: 25px;
    display: block;
}

.logo{
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Space Mono", monospace;
    font-size: 50px;
    text-align: center;
    background: var(--n);
    line-height: 100%;
    color: var(--b);
    padding-top: 18px;
    padding-bottom: 20px;
    letter-spacing: -4px;
}

.navbarBox{
    display: flex;
    gap: 10px;
    padding: 2px;
    background: var(--s);
}

.footer{
    display: flex;
    padding: 2px;
    background: var(--s);
    gap: 10px;
    margin-top: 25px;
}

.linkText{
    font-size: 17px;
    color: var(--n);
}

.copyright{
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    margin-left: auto;
    margin-top: auto;
}

.articleHead{
    margin-bottom: 35px;
    margin-top: 20px;
}

.articleHeadList{
    margin-bottom: 25px;
    margin-top: 25px;
}

.articleLink{
    color: var(--t);
}

.articleTitleBox{
    border-bottom: solid 1px var(--d);
    margin-bottom: 10px;
}

div#stripes {
    height: 10px;
    background-image: linear-gradient(135deg, var(--s) 25%, transparent 25%, transparent 50%, var(--s) 50%, var(--s) 75%, transparent 75%, #fff);
    background-size: 25px 25px;
}

.informationBar{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 1.5px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.articleNumber{
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
}

.edition{
    color: var(--n);

}

.categoryList{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 1.5px;
    font-size: 15px;
    line-height: 80%;
    display: flex;
    gap: 7px;
    margin-bottom: 25px;
}

.categoryItem{
    background: var(--s);
    color: var(--d);
    padding-left: 10px;
    padding-right: 10px;
}
.categoryItem:hover{
    background: var(--n);
    color: var(--s);
}

.categoryItemLink{
    color: inherit;
}

.pagination{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 1.5px;
    font-size: 15px;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.page-link{
    color: inherit;
}

.page-item{
    color: var(--d);
    text-decoration: none;
}

.page-item.active{
    color: var(--n);
    text-decoration: none;
}

.page-item.disabled{
    color: var(--s);
    cursor: not-allowed;
}

.wordCount{
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.articleContent{
    display: inline-block;
    white-space: wrap;
    text-align: justify;
}

.author{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 15px;
    word-spacing: 0px;
    letter-spacing: -1.5px;
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

.time{
    color: var(--d);
    flex-grow: 1;
    flex-basis: 0;
}

.id{
    margin-top: auto;
    font-size: 10px;
}