@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

:root {
    --b: #FEFCFA;
    --s: #DEDCDA;
    --t: #000000;
    --d: #777777;
    --n: #CC00AA;
}

* {
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font: 19px/117% "Fira Mono", monospace;
    background: var(--b);
    color: var(--t);
    letter-spacing: -0.6px;
    word-spacing: -4px;
}

body.dark {
    --b: #111111;
    --s: #444444;
    --t: #FEFCFA;
    --d: #DEDCDA;
}

h2 {
    font: 700 20px/1.2 "Fira Mono", monospace;
    margin-bottom: 3.5px;
}

h3 {
    font: 400 17px/1.2 "Fira Mono", monospace;
    color: var(--d);
}

p {
    font: 400 16px/125% "Fira Mono", monospace;
    margin-bottom: 15px;
    letter-spacing: -0.75px;
    word-spacing: -2.25px;
}

a {
    text-decoration: none;
    user-select: none;
}

.toggle {
    cursor: pointer;
    font-size: 17px;
    color: var(--n);
}

.container {
    max-width: 70ch;
    padding: 20px;
    margin: auto;
}

.navbar {
    margin-bottom: 20px;
    display: block;
}

.logo {
    font: 400 35px/110% "Righteous", sans-serif;
    text-align: center;
    background: var(--n);
    color: var(--b);
    overflow: hidden;
}

.navbarBox, .footer {
    display: flex;
    gap: 10px;
    padding: 2px;
    background: var(--s);
}

.footer {
    margin-top: 20px;
}

.linkText {
    font-size: 17px;
    color: var(--n);
}

.articleHead {
    position: relative;
    margin: 15px 0;
    padding-bottom: 3.7px;
    border-bottom: 1.5px solid var(--s);
}

.articleHeadList:not(:last-child) {
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1.5px solid var(--s);
}

.articleLink {
    color: var(--t);
}

@keyframes moveStripes {
    0% { background-position: 25px 0; }
    100% { background-position: 0 0; }
}

#stripes {
    height: 10px;
    background-image: linear-gradient(135deg, var(--s) 25%, transparent 25%, transparent 50%, var(--s) 50%, var(--s) 75%, transparent 75%, #fff);
    background-size: 25px 25px;
    animation: moveStripes 4s linear infinite;
}

.informationBar {
    font: 400 15px/1.2 "Public Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    word-spacing: 1.5px;
}

.articleNumber, .wordCount {
    color: var(--t);
    flex: 1 0 0;
}

.edition {
    color: var(--n);
}

.wordCount {
    text-align: right;
}

.categoryList {
    font: 400 15px/80% "Public Sans", sans-serif;
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
    word-spacing: 1.5px;
}

.categoryItem {
    background: var(--s);
    color: var(--t);
    padding: 0 10px;
}

.categoryItem:hover {
    background: var(--n);
    color: var(--b);
}

.categoryItemLink {
    color: inherit;
}

.pagination {
    font: 400 15px/1.2 "Public Sans", sans-serif;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    word-spacing: 1.5px;
}

.page-link {
    color: inherit;
}

.page-item {
    color: var(--d);
}

.page-item.active {
    color: var(--n);
}

.page-item.disabled {
    color: var(--s);
    cursor: not-allowed;
}

.articleContent {
    display: inline-block;
    white-space: wrap;
    text-align: justify;
}

.author {
    font: 900 15px/1.2 "Public Sans", sans-serif;
    word-spacing: 0;
    letter-spacing: -1.5px;
    color: var(--d);
    flex: 1 0 0;
    text-align: right;
}

.time {
    color: var(--d);
    flex: 1 0 0;
}

.id {
    margin-top: auto;
    font-size: 10px;
}

.articleImage {
    width: 100%;
}

.logo {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: none;
}

#logoCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logoText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 400 35px/110% "Righteous", sans-serif;
    text-align: center;
    color: var(--b);
    z-index: 1;
}