@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --b: #FEFCFA;
    --s: #DEDCDA;
    --t: #000000;
    --d: #444444;
    --n: #CC00AA;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Mono", monospace;
    letter-spacing: -0.5px;
    word-spacing: -1.25px;
    line-height: 130%;
}

body{
    font-size: 17px;
    background: var(--b);
    color: var(--t);
}

.container{
    max-width: 70ch;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.navbar{
    display: flex;
    padding: 2px;
    background: var(--s);
    margin-bottom: 25px;
    gap: 10px;
}

.footer{
    display: flex;
    padding: 2px;
    background: var(--s);
    margin-top: 25px;
    gap: 10px;
}

.listItemSubtitle{
    font-size: 16px;
}

.listItemTitleBox{
    border-bottom: solid 1px var(--d);
    margin-bottom: 10px;
}

h1{
    font-weight: 700;
    font-size: 17px;
}

h3{
    font-weight: 400;
    color: var(--d);
}

.listItemLink{
    text-decoration: none;
    color: var(--t);
}

.listItem{
    margin-bottom: 20px;
}

.content{
    margin-top: 25px;
}

.article{
    white-space: pre-wrap;
    text-align: justify;
}

p{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contentFooter{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
}

.linkText{
    font-size: 15px;
    color: var(--n);
}

a{
    text-decoration: none;
}

.bottom{
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: auto;
}