<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=content-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="description" content="{{or .Params.subtitle .Site.Params.description }}">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="site-container">
        {{ partial "navbar" . }}
        <div class="content">
            {{ block "main" . }} {{ end }}
        </div>
        {{ partial "footer" . }}
    </div>
</body>
</html>