<footer class="footer">
    <div class="nav-container">
        <div class="nav-link-container">
            <div class="nav-link-wrapper">
                <a href="https://bsky.pracht.report/" class="nav-link link">[bsky]</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="https://twitter.pracht.report/" class="nav-link link">[twitter]</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="mailto:mail@pracht.report" class="nav-link link">[email]</a>
            </div>
            <div class="nav-link-wrapper session-hint nav-link" tabindex="0">[session]
                <span class="session-tooltip">0504396513224cb7671aa307b84e4cebda708201793611d7e81580b32d4d71310e</span>
            </div>            
        </div>
    </div>
</footer>